.backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid #9e9e9e;
    color: #2e2e2e;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s all;

    &:hover {
        background-color: #f3f3f3;
    }
}